# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# default settings
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4

# Makefile override
[Makefile]
indent_style = tab
